{% macro button(text, href=false, inverted=false, id=false) %}
  {% if href != false %}
    {% set tag = 'a' %}
  {% else %}
    {% set tag = 'button' %}
  {% endif %}
  <{{ tag }} class="button{% if inverted %} button--inverted{% endif %} uppercase" {%- if id %}id="{{ id }}"{% endif %} {% if href %}href="{{ href }}"{% endif %}>
  {{- text -}}
  </{{ tag }}>
{% endmacro %}

{% macro youtubeVideo(id, lang) %}
  {% if lang == 'de-ch' %}
    {% set lang = 'de' %}
  {% elif lang == 'en-gb' %}
    {% set lang = 'en' %}
  {% endif %}
  <div class="frame">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube-nocookie.com/embed/{{ id }}?hl={{ lang }}"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      loading="lazy"
    ></iframe>
  </div>
{% endmacro %}
