{% macro featuredMusic(data, lang, headingLevelDecreaser=0) %}

  {% if lang == 'de-ch' %}
    {% set deeplink = "/musik/" + data.uid %}
  {% else %}
    {% set deeplink = "/en/music/" + data.uid %}
  {% endif %}

  <div class="m-preview__columns">

    {% from 'components/responsive-image.njk' import responsiveImage %}
    {{ responsiveImage(image=data.data.cover_photo, rounded=false, alt=data.data.title+" cover") }}

    <div class="stack stack--3">
      
      <h{{ 2 + headingLevelDecreaser}}>
        <a href="{{ deeplink }}">
          {{ data.data.title | renderAsText | safe }}
        </a>
      </h{{ 2 + headingLevelDecreaser}}>

      {# <div>
        <h3>Tracks</h3>
        <div class="stack stack--1">
          <ul class="stack stack--2">
            {% for song in data.data.songs %}
              <li class="stack stack--1">
                <p>{{ song.name }}</p>
                <audio controls src="{{ song.preview.url }}"></audio>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div> #}

      <div class="stack stack--2">
        <h{{ 3 + headingLevelDecreaser}}>
          {% if lang == 'de-ch' %}
            Erhältlich auf
          {% else %}
            Available on
          {% endif %}
        </h{{ 3 + headingLevelDecreaser}}>

        {% from 'macros.njk' import button %}
        <div>
          <ul class="flex-list">
            {% for provider in data.data.providers %}
            <li>{{ button(text=provider.provider_name, outlined=true, href=provider.link.url) }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      {% if lang == 'de-ch' %}
        {% set btn_text = 'Mehr erfahren' %}
      {% else %}
        {% set btn_text = 'Learn more' %}
      {% endif %}
      {{ button(text=btn_text, href=deeplink) }}

    </div>
  </div>

{% endmacro %}