<footer>
  {% set
    imprint = {
      'de-ch': {
        'link': '/impressum/',
        'title': 'Impressum'
      },
      'en-gb': {
        'link': '/en/imprint/',
        'title': 'Imprint'
      }
    }
  %}
  <div class="container">
    <div class="stack stack--2">
      <p><a href="{{ imprint[localisedPage.lang].link }}">{{ imprint[localisedPage.lang].title }}</a></p>
      <p class="small"><strong>PR Agency:</strong><br/>
      Dr. Music Promotion | Miriam Guigueno & Torsten Wohlgemuth GbR<br/>
      <a href="mailto:doc@dr-music-promotion.de">doc@dr-music-promotion.de</a> |
      <a href="www.dr-music-promotion.de">dr-music-promotion.de | 
      <a href="www.facebook.com/dr.musicpromotion">facebook.com/dr.musicpromotion</a></p>
    </div>
  </div>
</footer>
