<header class="header">
  <div class="container header__outer-container">

    <a class="header__logo" href="{{ nav.home[localisedPage.lang].pathPrefix }}">
      {% include 'assets/logo.svg' %}
    </a>

    <ul class="header__language-switcher">
    {%- for language in site.languages -%}
      
      {# set fallback to homepage #}
      {% set translatedUrl = language.pathPrefix %}

      {# loop through all sites #}
      {%-for item in collections.all -%}
        {%- if item.data.translationKey == translationKey and item.data.localisedPage.lang == language.code -%}
          {% set translatedUrl = item.url %}
        {%- endif -%}
      {%- endfor -%}

      <li class="{% if localisedPage.lang !== language.code %}inactive{% endif %}">
        <a href="{{ translatedUrl }}">{{ language.label }}</a>
      </li>

    {%- endfor -%}
    </ul>
  </div>
</header>

<nav class="main-nav" id="main-nav">
  <div class="container container--full-width">
    <ul class="reel">
      {% for key, link in nav %}
      {% if link.inactive != true %}
      <li><a href="{{ link[localisedPage.lang].pathPrefix }}">{{ link[localisedPage.lang].title }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
