{% macro responsiveImage(image, rounded=false, caption=false) %}

  {% if caption %}
    <figure>
  {% endif %}

    {% if image.Tablet != undefined %}
      {% set tablet = image.Tablet %}
    {% elif image.tablet != undefined %}
      {% set tablet = image.tablet %}
    {% else %}
      {{ "ERROR in responsiveImage: no source for Tablet" | log }}
      {{ "url:" + image.url | log }}
    {% endif %}

    {% if image.Mobile != undefined %}
      {% set phone = image.Mobile %}
    {% elif image.phone != undefined %}
      {% set phone = image.phone %}
    {% else %}
      {{ "ERROR in responsiveImage: no source for Phone" | log }}
      {{ "url:" + image.url | log }}
    {% endif %}

      <picture {% if rounded %} class="rounded" {% endif %}>
        <source srcset="{{ image.url }}" media="(min-width: {{ image.dimensions.width }}px)" />
        <source srcset="{{ tablet.url }}" media="(min-width: {{ tablet.dimensions.width }}px)" />
        <img
          width="{{ phone.dimensions.width }}"
          heigth="{{ phone.dimensions.height }}"
          src="{{ phone.url }}"
          alt="{{ alt }}"
          loading="lazy"
        />
      </picture>

  {% if caption %}
      <figcaption>{{ caption }}</figcaption>
    </figure>
  {% endif %}
{% endmacro %}
