{% from 'components/responsiveImage.njk' import responsiveImage %}

{% macro rich_text(data) %}
  {% set content = data.primary.content %}
  <div class="stack stack--2">{{ content | renderAsHTML | safe }}</div>
{% endmacro %}

{% macro photo(data) %}
  {% set image = data.primary.image %}
  {% set caption = data.primary.caption %}
  <div class="stack stack--2">{{ responsiveImage(image, rounded=true, caption) }}</div>
{% endmacro %}

{% macro embed(data, lang) %}
  {% set data = data.primary.url %}
  {% if data.type == 'video' %}
    {% from 'macros.njk' import youtubeVideo as video %}
    <div class="full-bleed">
      {{ video(data.embed_url | getYoutubeID, lang) }}
    </div>
  {% endif %}
{% endmacro %}
