---
pagination:
  data: gallery.overviewPages
  size: 1
  alias: localisedPage
  addAllPagesToCollections: true
permalink: "{{ nav.gallery[localisedPage.lang].pathPrefix }}/index.html"
translationKey: "galleryPage"
eleventyComputed:
  title: "{{ localisedPage.data.meta_title }}"
  metaDescription: "{{ localisedPage.data.meta_description }}"
  lastMod: "{{ localisedPage.last_publication_date }}"
---


{% block content %}
  <div class="container">
    <div class="stack stack--3">
      <div class="stack stack--1">
        {{ localisedPage.data.page_title | renderAsHTML | safe }}
        {{ localisedPage.data.introduction | renderAsHTML | safe }}
      </div>
      <div>
        {% from 'components/responsive-image.njk' import responsiveImage %}
        <ul class="stack stack--2">
        {% for image in localisedPage.data.images %}
          <li>{{ responsiveImage(image.image) }}</li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
{% extends 'layouts/base.njk' %}
