.button {
  align-items: center;
  background-color: $c_fg_1;
  border: 2px solid transparent;
  border-radius: 2px;
  color: $c_bg_1;
  display: inline-block;
  /*line-height: 2.25rem;
  line-height: calc(0.25vw + 2rem);*/
  line-height: 1em;
  padding: 0.5rem 2rem;
  padding: calc(0.15vw + 0.5rem) calc(0.15vw + 1.75rem);
  text-decoration: none;
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: 300ms;
  transition-timing-function: ease;

  &:hover {
    background-color: $c_bg_1;
    border-color: $c_fg_1;
    color: $c_fg_1;
    & > svg > * {
      fill: $c_fg_1;
    }
  }

  &--not-interactive {
    &:hover,
    &:focus {
      background-color: $c_fg_1;
      border-color: transparent;
      box-shadow: none;
      color: $c_bg_1;
    }
  }

  &:focus {
    background-color: $c_bg_1;
    color: $c_fg_1;
    outline: none;
    box-shadow: 0px 0px 0px 4px $c_main_1;
  }

  &--outlined {
    background-color: transparent;
    border: 2px solid $c_fg_1;
    color: $c_fg_1;
  }

  & > svg {
    margin-left: 0.75rem;
    & > * {
      transition: fill 300ms ease;
    }
  }
}
