ul.grid,
.grid {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin: -0.75em;

  > * {
    flex-grow: 1;
    flex-basis: 14rem;
    margin: 0.75em;
  }

  &--reverse { flex-direction: row-reverse; }

  &--dense {
    & > * { flex-basis: 7rem; }
  }

  &--extended {
    & > * { flex-basis: 40rem; }
  }
}

@supports (display:grid) {
  ul.grid,
  .grid {
    --size: 14rem;

    &--dense { --size: 10rem }
  
    &--extended { --size: 30rem }

    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(var(--size),1fr));
    margin: 0;

    & > * {
      margin: 0;
    }
  }
}