.header {
  &__outer-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
  }

  &__logo {
    max-width: 50vw;
    width: 15rem;

    svg {
      transform: translateX(-7%);
    }
  }

  &__language-switcher {
    display: flex;

    > * ~ * {
      &::before {
        content: '|';
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }
    }
  }

  & .inactive {
    opacity: 0.5;
  }
}

nav {
  background-color: $c_bg_1;
  position: sticky;
  top: 0;
  z-index: 777;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  
    li {
      font-weight: bold;
    }
  }

  .reel {
    > * { padding: 0; }
    a {
      display: block;
      padding: 1rem 1.5rem;
      padding: calc(0.5vw + 0.75rem) calc(0.5vw + 1rem);
    }
  }
}
