.show-list {
  &__item {
    display: flex;
    flex-wrap: wrap;
    margin: -.75rem;

    > * {
      margin: .75rem;
    }
    
    > *:first-child {
      flex-grow: 1;
    }

    > .button {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}
