.stack {
  &--0 > * ~ * { margin-top: 0.25rem; }
  &--1 > * ~ * { margin-top: 0.5rem; }

  &--2 > * ~ * {
    margin-top: 1rem;

    & > p + h1,
    & > p + h2,
    & > p + h3,
    & > p + h4,
    & > p + h5,
    & > p + h6 {
      margin-top: calc(4vw + 2rem);
    }

    & > p > ul {
      margin-top: calc(2vw + 1rem);
      margin-bottom: calc(2vw + 1rem);
    }
  }

  &--3 > * ~ * { margin-top: 1.5rem; }
  &--4 > * ~ * { margin-top: 2rem; }
  &--5 > * ~ * { margin-top: 3rem; }
  &--6 > * ~ * { margin-top: 4rem; }
  &--7 > * ~ * { margin-top: 5rem; }
}
