{% extends 'layouts/base.njk' %}

{% block content %}
<main>
<p>{{ content.slug }}</p>
<h1>{{ content.title }}</h1>
{% for prismicContent in gigsPrismic[locale] %}
  {% if prismicContent.uid === content.slug %}
    {% if prismicContent.data.body %}
    <ul>
      {% for pSlice in prismicContent.data.body %}
      <li>{{ pSlice.slice_type }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endif %}
{% endfor %}
</main>
{% endblock %}
