<nav>
  <ul>
    {% for key, link in nav %}
    <li><a href="{{ link[localisedPage.lang].pathPrefix }}">{{ link[localisedPage.lang].title }}</a></li>
    {% endfor %}
  </ul>
</nav>

{% for language in site.languages %}
  
  {# set fallback to homepage #}
  {% set translatedUrl = language.pathPrefix %}
  
  {# loop through all sites #}
  {% for item in collections.all %}
    {% if item.data.translationKey == translationKey and item.data.localisedPage.lang == language.code %}
      {% set translatedUrl = item.url %}
    {% endif %}
  {% endfor %}

  <a href="{{ translatedUrl }}">{{ language.label }}</a>

{% endfor %}

