---
pagination:
  data: music.overviewPages
  size: 1
  alias: localisedPage
  addAllPagesToCollections: true
eleventyComputed:
  title: "{{ localisedPage.data.meta_title }}"
  metaDescription: "{{ localisedPage.data.meta_description }}"
  lastMod: "{{ localisedPage.last_publication_date }}"
permalink: "{{ nav.music[localisedPage.lang].pathPrefix }}/index.html"
translationKey: "musicPage"
---

{% set data = localisedPage.data %}
{% block content %}
  <div class="stack stack--5 container">

    {{ data.page_title | renderAsHTML | safe }}

    <div>

      <ul class="stack stack--6 m-preview-list">
        {% for musicItem in music.subPagesPrismic %}
          {% if musicItem.lang == localisedPage.lang %}

            <li class="stack stack--3 m-preview">

            {% from 'components/featured-music.njk' import featuredMusic %}
            {{ featuredMusic(data=musicItem, lang=localisedPage.lang) }}

            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

  </div>

{% endblock %}

{% extends 'layouts/base.njk' %}
