---
pagination:
  data: music.subPagesPrismic
  size: 1
  alias: localisedPage
  addAllPagesToCollections: true
eleventyComputed:
  title: "{{ localisedPage.data.meta_title }}"
  metaDescription: "{{ localisedPage.data.meta_description }}"
  lastMod: "{{ localisedPage.last_publication_date }}"
  translationKey: "{{ localisedPage.uid }}"
permalink: "{{ nav.music[localisedPage.lang].pathPrefix }}/{{ localisedPage.uid }}/index.html"
---

{% set data = localisedPage.data %}

{% block content %}
<div class="stack stack--3">
  <div class="music-hero stack stack--2 {%- if data.text_color == 'Black' %} music-hero--inverted {%- endif %}">
    
    <div class="music-hero__main">
      <div class="container container--narrow">
        <h2>{{ data.type }}</h2>
        {{ data.title | renderAsHTML | safe }}
      </div>

      <div
        class="pin music-hero__background-image"
        style="--bg-url:url({{ data.cover_photo.Blur.url }})"
      ></div>
    </div>

    <div class="container container--narrow">
      {% image src=data.cover_photo.url, alt="", attributes=[{name:"class",value:"music-hero__cover"}] %}
    </div>

  </div>

  <div class="container container--narrow stack stack--5">
    {% if data.songs != undefined %}
    <div class="stack stack--4">
      <h2>Tracks</h2>
      <div>
        <ul class="music-tracks stack stack--3">
          {% for song in data.songs %}
          <li class="stack stack--2">
            <h3>{{ song.name }}</h3>
            <audio controls src="{{ song.preview.url }}"></audio>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}
    
    {% if data.providers != undefined %}
      <div class="stack stack--4">
        <h2>
          {% if localisedPage.lang == 'de-ch' %}
          Erhältlich auf
          {% else %}
          Available on
          {% endif %}
        </h2>

        {% from 'macros.njk' import button %}
        <div>
          <ul class="flex-list">
            {% for provider in data.providers %}
            <li>{{ button(text=provider.provider_name, href=provider.link.url) }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}

    {% for sliceItem in data.body %}
      {% set slice_type = sliceItem.slice_type %}
      {% import 'components/slices.njk' as slices %}
      {{ slices[slice_type](sliceItem, lang=localisedPage.lang) }}
    {% endfor %}
  </div>
</div>

{% endblock %}
{% extends 'layouts/base.njk' %}
