---
pagination:
  data: videos.overviewPagesPrismic
  size: 1
  alias: localisedPage
  addAllPagesToCollections: true
permalink: "{{ nav.videos[localisedPage.lang].pathPrefix }}/index.html"
translationKey: "videosPage"
eleventyComputed:
  title: "{{ localisedPage.data.meta_title }}"
  metaDescription: "{{ localisedPage.data.meta_description }}"
  lastMod: "{{ localisedPage.data.last_publication_date }}"
---

{% block content %}
  <div class="container">
    {{ localisedPage.data.page_title | renderAsHTML | safe }}
  </div>
{% endblock %}
{% extends 'layouts/base.njk' %}
