.cart {
  &__item {
    border-bottom: 1px solid $c_fg_1;
    padding-bottom: 2rem;

    & + * {
      padding-top: 2rem;
    }

    &:last-child {
      border: none;
    }

    & > *:first-child {
      flex-grow: 1;
    }
  }
}