.hero {
  position: relative;

  &__text {
    z-index: 1;

    p {
      max-width: 100%;
      width: 28ch;
    }
  }

  &__background {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: -webkit-gradient(linear,left top,left bottom,from(rgba(14,14,14,0)),color-stop(72.79%,rgba(14,14,14,.72)),to(#0e0e0e));
      background: linear-gradient(180deg,rgba(14,14,14,0),rgba(14,14,14,.72) 72.79%,#0e0e0e);
      display: block;
      z-index: 1;
    }
  }
}

#play-video {
  display: none;

  &:target {
    display: flex;
    
    & > * {
      padding-top: 1rem;
    }
  }
}

@media screen and (max-width: 920px) {
  .hero {
    > * ~ * {
      margin-top: 1.5rem;
    }

    &__text.pin { position: relative; }
  }
}

.musician {
  /*h3 {
    margin-top: -2.5rem;
    margin-left: -0.75rem;
  }*/
  &__function {
    align-items: center;
    display: flex;
    font-size: 1.2rem;
  }
}
