.music {
  &-hero {

    &--inverted {
      color: $c_bg_1;
    }

    &__main {
      padding-top: 3rem;
      padding-bottom: 5rem;
      overflow: hidden;
      position: relative;
    }

    &__cover {
      width: 16rem;
      margin-top: -3rem;
      max-width: 50%;
    }
    
    @supports (filter: blur()) {
      &__background-image {
        background-image: var(--bg-url);
        background-position: center center;
        background-size: cover;
        filter: blur(1rem);
        transform: scale(1.1);
        z-index: -1;
      }
    }
  }

  &-tracks {
    & audio {
      display: block;
      width: 100%;
    }
  }
}

.m-preview {
  &__columns {
    display: flex;
    flex-wrap: wrap;
    margin: -0.75rem;

    & > * {
      margin: 0.75rem;
      flex-basis: 17rem;
    }
    & > *:last-child { flex-grow: 1; }
  }

  & audio {
    display: block;
    width: 100%;
  }
}
