<!DOCTYPE html>
<html lang="{{ localisedPage.lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include 'components/meta-info.njk' %}
  <link rel="stylesheet" href="/css/main.css">
  <link rel="icon" href="/static/shortcut.png" type="image/png" />
  {% if page.url == '/warenkorb/' or page.url == '/en/cart/' or page.url == '/lieferadresse/' or page.url == '/shipping-address/' %}
    <script src="https://js.stripe.com/v3/"></script>
  {% endif %}

</head>
<body>

  {% include 'components/nav.njk' %}
  <main>
    {% block content %}
    {% endblock content %}
  </main>
  {% include 'components/footer.njk' %}
  <script src="/assets/bundle.js"></script>
  <script>
    {% script page.url | safe %}
  </script>
</body>
</html>
