<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include 'components/meta-info.njk' %}
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  {% include 'components/nav.njk' %}
  {% block content %}
  {% endblock content %}
</body>
</html>
