{% extends 'layouts/base.njk' %}

{% block content %}
<main>
  <h1>Videos</h1>
  <ul>
  {% for video in content %}
    <li>{{ video.id }}<br /><img src="{{ video.thumbnails.standard.url }}" /></li>
  {% endfor %}
  </ul>
</main>
{% endblock %}
