---
pagination:
  data: contact.overviewPages
  size: 1
  alias: localisedPage
  addAllPagesToCollections: true
permalink: "{{ nav.contact[localisedPage.lang].pathPrefix }}/index.html"
translationKey: "contactPage"
eleventyComputed:
  title: "{{ localisedPage.data.meta_title }}"
  metaDescription: "{{ localisedPage.data.meta_description }}"
---

{% block content %}
  {{ localisedPage.data.page_title | renderAsHTML | safe }}
{% endblock %}
{% extends 'layouts/base.njk' %}
