---
pagination:
  data: home.overviewPages
  size: 1
  alias: localisedPage
  addAllPagesToCollections: true
eleventyComputed:
  title: "{{ localisedPage.data.meta_title }}"
  metaDescription: "{{ localisedPage.data.meta_description }}"
  lastMod: "{{ localisedPage.last_publication_date }}"
permalink: "{{ nav.home[localisedPage.lang].pathPrefix }}/index.html"
translationKey: "homePage"
---

{% set data = localisedPage.data %}

{% block content %}
<section class="hero">
  <div class="hero__text pin">
    <div class="container cover">
      <div class="stack stack--2">
        {{ data.hero_title | renderAsHTML | safe }}
        <p class="lead">{{ data.hero_introduction | renderAsText }}</p>
      </div>
    </div>
  </div>
  <div class="hero__background">
    <video
      {# autoplay #}
      playsinline
      loop
      muted
      poster="{{ data.hero_image.Tablet.url }}"
      src="{{ data.hero_video.url }}"
    >
    </video>
  </div>
</section>
{% endblock %}
{% extends 'layouts/base.njk' %}
