---
pagination:
  data: home.overviewPages
  size: 1
  alias: localisedPage
  addAllPagesToCollections: true
permalink: "{{ nav.home[localisedPage.lang].pathPrefix }}/index.html"
translationKey: "homePage"
---

{% block content %}
 {{ localisedPage.data.hero_title | renderAsHTML | safe }}
{% endblock %}
{% extends 'layouts/base.njk' %}
