---
pagination:
  data: allHomes
  size: 1
  alias: home
permalink: /{{ home.lang | localeToPrefix }}/index.html
---

{% set data = home.data %}

{{ data.hero_title | renderText | safe }}
{{ data.hero_introduction | renderText | safe }}
