---
pagination:
  data: allHomes
  size: 1
  alias: home
permalink: /{{ home.lang | localeToPrefix }}/index.html
---

{% set lang = home.lang %}
{% extends 'layouts/base.njk' %}

{% set data = home.data %}

{% block content %}
<main>
  {{ data.hero_title | renderAsHTML | safe }}
  {{ data.hero_introduction | renderAsHTML | safe }}
</main>
{% endblock content %}