---
pagination:
  data: shop.overviewPages
  size: 1
  alias: localisedPage
  addAllPagesToCollections: true
eleventyComputed:
  title: "{{ localisedPage.data.meta_title }}"
  metaDescription: "{{ localisedPage.data.meta_description }}"
  lastMod: "{{ localisedPage.last_publication_date }}"
permalink: "{{ nav.shop[localisedPage.lang].pathPrefix }}/index.html"
translationKey: "shopPage"
---

{% set data = localisedPage.data %}
{% block content %}
  
  <div class="stack stack--5 container">

    <div class="stack stack--3">
      {{ data.page_title | renderAsHTML | safe }}
      {{ data.introduction | renderAsHTML | safe }}
    </div>

    {% for group in data.product_groups %}
      {{ group.product_group_name | renderAsHTML | safe }}
    {% endfor %}

  </div>

{% endblock %}

{% extends 'layouts/base.njk' %}