---
localisedPage:
  lang: 'en-gb'
title: Typography
permalink: "/typography/index.html"
---

{% block content %}
<main class="container">

  {% import 'macros.njk' as macros %}

  {{ macros.button('hello') }}
  {{ macros.button('hello', href='this') }}
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, voluptatum.</p>
  <span class="uppercase">some uppercase lettering</span>
</main>
{% endblock %}
{% extends 'layouts/base.njk' %}
