---
origin:
  de:
    url: "/impressum/"
    lang: "de-ch"
  en:
    url: "/en/imprint/"
    lang: "en-gb"
pagination:
  data: origin
  size: 1
  addAllPagesToCollections: true
  alias: current
permalink: "{{ origin[current].url }}/index.html"
---

{% set localisedPage = origin[current] %}
{{ localisedPage | log }}

{% block content %}
  Hey!
{% endblock %}
{% extends 'layouts/base.njk' %}
