---
pagination:
  data: tour.overviewPages
  size: 1
  alias: localisedPage
  addAllPagesToCollections: true
permalink: "{{ nav.tour[localisedPage.lang].pathPrefix }}/index.html"
translationKey: "tourPage"
eleventyComputed:
  title: "{{ localisedPage.data.meta_title }}"
  metaDescription: "{{ localisedPage.data.meta_description }}"
  lastMod: "{{ localisedPage.last_publication_date }}"
---

{% block content %}
  <div class="container">
    <div class="stack stack--5">

      <section class="stack stack--2">
        {{ localisedPage.data.page_title | renderAsHTML | safe }}
        <p class="lead">{{ localisedPage.data.introduction | renderAsText }}</p>
      </section>

      <div class="stack stack--6">

        {% from 'components/showList.njk' import showList %}

        {% set shows = tour.subPagesAirtable %}
        {% set lang = localisedPage.lang %}

        {% set title = localisedPage.data.upcoming_gigs | renderAsText %}
        {{ showList(title, shows, lang, upcoming = true, nav, tour.venues) }}

        {% set title = localisedPage.data.past_gigs | renderAsText %}
        {{ showList(title, shows, lang, upcoming = false, nav, tour.venues) }}

      </div>

    </div>
  </div>
{% endblock %}
{% extends 'layouts/base.njk' %}
