---
pagination:
  data: tour.overviewPages
  size: 1
  alias: localisedPage
  addAllPagesToCollections: true
permalink: "{{ nav.tour[localisedPage.lang].pathPrefix }}/index.html"
translationKey: "tourPage"
eleventyComputed:
  title: "{{ localisedPage.data.meta_title }}"
  metaDescription: "{{ localisedPage.data.meta_description }}"
---

{% block content %}
  {{ localisedPage.data.page_title | renderAsHTML | safe }}
  <ul>
    {% for page in tour.subPagesAirtable %}
      {% if page.lang === localisedPage.lang %}
      <li><a href="{{ nav.tour[localisedPage.lang].pathPrefix }}/{{ page.slug }}/">{{ page.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}
{% extends 'layouts/base.njk' %}
